<div class="extras">
    <div class="container">
        <div class="card">
            <h4 *ngIf="weatherData.main.humidity">Humidity <span>- {{weatherData.main.humidity}}%</span></h4>
            <h4 *ngIf="weatherData.main.pressure">Atmospheric pressure <span>- {{pressure}}
                    mmHg</span>
            </h4>

        </div>
        <div class="card">
            <h4 *ngIf="weatherData.wind.speed">Wind speed <span>- {{weatherData.wind.speed}} m/s</span></h4>
            <h4 *ngIf="weatherData.wind.deg">Wind direction <span>- {{weatherData.wind.deg}} °</span></h4>
        </div>
        <div class="card">
            <h4 *ngIf="weatherData.wind.gust">Wind gust <span>- {{weatherData.wind.gust}} meter/sec</span></h4>
            <h4 *ngIf="weatherData.clouds.all">Cloudiness <span>- {{weatherData.clouds.all}}%</span></h4>
        </div>
    </div>
</div>