.full {
    .weather {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        app-main {
            width: 35%;
        }

        app-details {
            width: 65%;
        }
    }

    app-extras {
        width: 100%;
    }

}

@media only screen and (max-width: 700px) {
    .full {
        .weather {
            flex-direction: column;

            app-main {
                width: 100%;
            }

            app-details {
                width: 100%;
            }
        }
    }
}