.full {
    .weather {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        app-main {
            width: 35%;
        }

        app-details {
            width: 65%;
        }
    }

    app-extras {
        width: 100%;
    }

}