.main {
    // background-color: #ececec;
    margin: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .place {
        background-color: #fff;
        margin: 8px 32px;
        padding: 8px 24px;
        width: 80%;
        border: 1px solid #264C6F;
        border-radius: 12px 12px 0 0;

        h2 {
            margin: 0 0 8px 0;
            color: #2E2E2E;
            font-family: Antic Didone;
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1px;
        }

        h4 {
            margin: 0 0 8px 0;
            color: #777777;
            font-family: Antic Didone;
            font-size: 20px;
            font-style: normal;
            line-height: normal;
            letter-spacing: 1px;
        }
    }

    .temp {
        background-color: #fff;
        margin: 8px 32px;
        padding: 8px 24px;
        width: 80%;
        border: 1px solid #264C6F;
        border-radius: 0 0 12px 12px;

        h3 {
            margin: 4px 0;
            color: #2E2E2E;
            font-family: Antic Didone;
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1px;
        }

        h5 {
            margin: 8px 0;
            color: #777777;
            font-family: Antic Didone;
            font-size: 20px;
            font-style: normal;
            // font-weight: 400;
            line-height: normal;
        }
    }
}

@media only screen and (max-width: 400px) {
    .main {
        margin: 40px 0 8px 0;
    }
}